﻿
@{
    ViewBag.Title = "Criar Pokémon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="PokemonController">
    <h2>Criar Pokémon</h2>
    <form id="pokeForm" name="pokeForm">
        <div class="form-group">
            <label>Nome</label>
            <input name="name" id="name" ng-model="pokeNome" ng-required="true" type="text" class="form-control" placeholder="Inserir o nome">
        </div>
        <div class="form-group">
            <label>Imagem</label>
            <input name="img" id="img" ng-model="pokeImg" ng-required="true" type="text" class="form-control" placeholder="/images/001.png ...">
        </div>

        <div class="form-group">
            <label for="exampleSelect1">Tipo de Pokémon</label>
            <select ng-click="loadType();" class="form-control" id="exampleSelect1" ng-model="selectedType">
                <option value="" selected>Selecione um Tipo...</option>
                <option ng-repeat="type in arrPokemonsTypes" ng-value="type.Id">{{type.Description}}</option>
            </select>
        </div>
        <button ng-click="CreatePokemon();" class="btn btn-primary">Salvar</button>
    </form>
</div>
