﻿
@{
    ViewBag.Title = "Pokémons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="PokemonController">
    <h2>Pokémons</h2>
    <div class="row">
        <div class="col-lg-3">
            @Html.ActionLink("Criar Pokémon", "Create", "Pokemon", null, new { @class = "btn btn-primary btn-large" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-5">
            <input id="pokeSearch" name="pokeSearch" ng-model="pokeSearch" placeholder="Procure Seu Pokemon por Nome / Tipo..." type="text" class="form-control left">
        </div>
    </div>
    <table class="table table-striped" style="max-height:475px;overflow-y:scroll;">
        <thead>
            <tr>
                <th>#</th>
                <th>Imagem</th>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Capturado</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            <!--Here we are building our table using the ng-repeat to loop the pokemon list-->
            <tr ng-repeat="pokemon in arrPokemons | filter:pokeSearch">
                <td>{{pokemon.Id}}</td>
                <td><img src="~/Content{{pokemon.ImagePath}}" style="max-height: 30px;" /></td>
                <td>{{pokemon.Name}}</td>
                <td>{{pokemon.PokemonTypes}}</td>
                <!--Here we're setting if we have or not the pokemon-->
                <td><span ng-click="updatePokeCheck(pokemon)" ng-class="{'glyphicon glyphicon-check': pokemon.CurrentHave, 'glyphicon glyphicon-unchecked': !pokemon.CurrentHave}" style="cursor:pointer;"></span></td>
                <!--Run the delete function-->
                <td><span class="glyphicon glyphicon-remove" style="cursor:pointer;" ng-confirm-click="Deletar Pokemon?" confirmed-click="deletePokemon(pokemon);"></span></td>
            </tr>
        </tbody>
    </table>
</div>
